<div class="waiter">
  <div class="waiter__header">
    <div class="waiter__id" title="{{ name }}">Waiter {{ id }}:</div>
    <div class="waiter__name">{{ name }}</div>
  </div>
  <div class="waiter__content">
    <div class="waiter__item">
      <span class="label">Table {{ tableFirst.id }}:</span>
      <span class="value"> {{ tableFirst.order }}</span>
    </div>
    <div class="waiter__item">
      <span class="label">Table {{ tableSecond.id }}:</span>
      <span class="value"> {{ tableSecond.order }}</span>
    </div>
  </div>
</div>
